<div class="row">
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to post.title, post_path(p) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by </span><%= post.user.username %>
      <small>at <%= post.created_at %></small>
    </p>
    <p>
      <span>
        <%= link_to("Edit", edit_post_path(post.id)) %>
      </span>
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>
</div>