<% if @category.errors.any? %>
	<div class="alert alert-error">
		<h4>There were some errors.</h4>
		<br />
		<ul>
		<% @category.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		</ul>
		<% end %>
	</div>
<% end %>

<%= form_for @category do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />

	<%= f.submit "Create/Update Category", class: "btn btn-primary" %>

<% end %>